/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to right, #f321d0, #FF5722);
  }
  
  .login-card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #555;
  }
  
  .switch-link {
    cursor: pointer;
    color: blue;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  
  .radio-group label {
    margin: 0 5px;
    cursor: pointer;
  }
  